@inject IHttpContextAccessor Accessor
@inject IProjectMemberRepository ProjectMemberRepository

@{
    ViewData["Title"] = "No data";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    List<ProjectMember> ProjectMemberOfUser = null;
    var currentUserID = Accessor.HttpContext.Session.GetString("currentUserID");
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");


    int? statusProjectMemberOfUser = -1;
    if (!string.IsNullOrEmpty(currentUserID))
    {
        ProjectMemberOfUser = ProjectMemberRepository.FilterProjectMember(p => p.ProjectID.Equals(new Guid(currentProjectID)) && p.UserID.Equals(new Guid(currentUserID)));
        if (ProjectMemberOfUser.Count() > 0)
        {
            statusProjectMemberOfUser = ProjectMemberOfUser?.FirstOrDefault()?.Status;
        }
    }
}
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
    @if (statusProjectMemberOfUser >= 2)
    {
        <!-- Add button -->
        <div class="mb-4">
            <a asp-action="AddProjectPhaseReport" asp-controller="Project" asp-route-projectid="@currentProjectID" title="Add new phase report">
                <button type="button" class="mx-4 timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-12">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </button>
            </a>
        </div>
    }
    <div class="flex items-center justify-center bg-gray-100">
        <div class="bg-white shadow-md rounded-lg p-8 max-w-lg text-center">
            <p class="text-gray-700 text-3xl mb-6">@Model</p>
            <a asp-action="ManageProject" asp-route-id="@(new Guid(currentProjectID))" title="Turn back to project detail" class="bg-blue-800 hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded-md">
                Go Back
            </a>
        </div>
    </div>
</div>
