
@{
    ViewData["Title"] = "No data";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";

}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-8 max-w-lg text-center">
        <p class="text-gray-700 text-3xl mb-6">@Model</p>
        <a href="javascript:history.back()" class="bg-blue-800 hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded-md">
            Go Back
        </a>
    </div>
</div>