@model string
@* How to use: *@
@* Don't put this in another element with relative position (In short, put at the end of <body></body> *@
@* Only pass an ID string into the partial, if you want to apply to multiple forms, declare the partial view multiple times with multiple ids *@

<link rel="stylesheet" href="~/css/original.css"/>
<partial name="_LoadingBackdrop"/>

<script>
    let abcForm = document.getElementById('@Model'); // the form
    console.log('Looking at form: ');
    console.log(abcForm);
    // Intercept the form submission
    abcForm.addEventListener('submit', function (event) {
        console.log("Triggering loading modal...")
        let loadingModal = document.getElementById("loadingModal");
        if (isLegit()) {
            loadingModal.style.display = "flex";
        } else {
            loadingModal.style.display = "none";
            event.preventDefault();
        }
    });

    function isLegit() {
        const validateValidClass = "field-validation-valid";
        const validateErrorClass = "field-validation-error";
        // Get all validation spans
        let validationSpans = abcForm.getElementsByClassName(validateValidClass);
        // Get the loading element
        for (let v of validationSpans) {
            if (v.classList.contains(validateErrorClass)) {
                return false;
            }
        }
        return true;
    }
</script>