@model string
@* How to use: *@
@* Don't put this in another element with relative position (In short, put at the end of <body></body> *@
@* Only pass an ID string into the partial, if you want to apply to multiple forms, declare the partial view multiple times with multiple ids *@

<link rel="stylesheet" href="~/css/original.css"/>
@* backdrop *@
<div id="loadingModal" class="w-full h-full bg-black fixed z-50 opacity-50" style="display: none; top: 0; min-height: 100vh;">
    @* This one will always be centered in the backdrop *@
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="loader"></div>
    </div>
</div>

<script>
    let abcForm = document.getElementById('@Model'); // the form
    console.log('Looking at form: ');
    console.log(abcForm);
    const validateValidClass = "field-validation-valid";
    const validateErrorClass = "field-validation-error";
    // Get all validation spans
    let validationSpans = abcForm.getElementsByClassName("field-validation-valid");
    let loadingModal = document.getElementById("loadingModal");
    // Intercept the form submission
    abcForm.addEventListener('submit', function (event) {
        console.log("Triggering loading...")
        if (isLegit()) {
            loadingModal.style.display = "flex";
        } else {
            loadingModal.style.display = "none";
            event.preventDefault();
        }
    });
    function isLegit() {
        for (let v of validationSpans) {
            if (v.classList.contains(validateErrorClass)) {
                return false;
            }
        }
        return true;
    }
</script>